@import url("normalize.css");
@import url("variables.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto Slab", serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    position: relative;
}

/* ARROW */
.arrow {
    position: fixed;
    display: inline-block;
    right: 2rem;
    bottom: 2rem;
    color: var(--color-font);
}

.bx-up-arrow-alt::before {
    font-size: 2rem;
}

.arrow .bx {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--color-ternario);
}

.arrow .bx:hover {
    background-color: var(--color-primary);
}

/* helpers */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HOME */

header {
    height: 100vh;
    background: #000000cf url("/storage/img/placeYourImageHere0.png") center / cover no-repeat;
    background-blend-mode: darken;
}

main {
    background-color: var(--color-secundary);
}

.home {
    height: 100%;
    align-items: initial;
}

.home__container,
.about__container,
.galery__container,
.enjoy__container,
.menu__container {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    padding-top: 2rem;
}

.nav {
    justify-content: space-between;
    padding-inline: 2rem;
}

.nav__list {
    gap: 2rem;
}

.nav__item a {
    color: var(--color-font);
    font-weight: var(--font-weight-1);
}

.nav__item a:hover {
    color: var(--color-primary);
}


.home__content,
.about__container>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    place-items: center;
    flex: 1;
    justify-items: stretch;
}

.home__img,
.about__img {
    width: 100%;
}

.home__img img,
.about__img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.home__conyainer-text {
    width: 90%;
}

.home__title,
.about__title,
.quality__title {
    color: var(--color-primary);
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: var(--font-weight-3);
}

.home__text,
.about__text,
.quality__text,
.enjoy__text,
.bestMeal__text {
    color: var(--color-font);
    margin-bottom: 1.2rem;
    font-size: 2rem;
}

.home__button {
    background-color: var(--color-primary);
    border: none;
    padding: 1rem;
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    cursor: pointer;
}

.home__button:hover {
    opacity: 0.8;
}

/* About us  */

.about {
    background-color: var(--color-secundary);
    height: 100vh;
}

/* quality */

.quality {
    background-color: var(--color-secundary);
    position: relative;
    padding-top: 2rem;
}

.quality__bg img {
    width: 100%;
}

.quality__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.quality__img--0 {
    position: absolute;
    right: 0;
    top: 0;
    width: 27vw;
}

.quality__img--1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 55vw;
}

.quality__img--3 {
    position: absolute;
    bottom: 0;
    width: 35vw;
}

.quality__img--0 img,
.quality__img--1 img,
.quality__img--3 img {
    width: 100%;
}

.quality__content {
    position: absolute;
    max-width: 600px;
    left: 2rem;
    top: 30%;
    transform: translateY(-50%);
}

.quality__title {
    color: var(--color-font);
}

/* GALERY */

.galery {
    background-color: var(--color-secundary);
}

.galery__container {
    align-items: center;
}

.galery__title,
.enjoy__title,
.menu__title,
.bestMeal__title {
    color: var(--color-font);
    text-transform: capitalize;
    font-size: 3rem;
    margin-block: 2rem;
}

.galery__imgs {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    justify-items: center;
}

.galery__img {
    width: 100%;
}

.galery__img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/* ENJOY */

.enjoy {
    height: 100vh;
    padding-block: 2rem;
    background-color: var(--color-secundary);
}

.enjoy>div {
    height: 100%;
    background: url("/storage/img/placeYourImageHereOur0.png") center / cover no-repeat;
}

.enjoy__content {
    padding: 2rem;
    border: 8px solid var(--color-primary);
    background-color: rgba(0, 0, 0, 0.808);
    max-width: 500px;
    text-align: center;
}

/* MENU */

.menu {
    height: 100vh;
    background-color: var(--color-secundary);
}

.menu__title {
    text-align: center;
}
.menu__cards {
    justify-content: space-between;
    gap: 1rem;
}

.card__img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card__content {
    margin-top: 1rem;
}

.card__title {
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 2rem;
}

.card__text {
    color: var(--color-font);
    margin-block: 1rem;
    line-height: 1.5;
}

.card__price {
    color: var(--color-primary);
}

/* BEST MEAL */

.bestMeal {
    background-color: var(--color-secundary);
    margin-top: 12rem;
}

.bestMeal__container {
    height: 60vh;
    background-color: var(--color-primary);
    gap: 2rem;
}

.bestMeal__img {
    flex: 1;
}

.bestMeal__img img {
    width: 100%;
}
.bestMeal__content {
    flex: 1.2;
    width: 80%;
}

/* FOOTER */

.footer {
    background-color: var(--color-ternario);
}

.footer__container {
    margin-top: 6rem;
}

.footer__img {
    text-align: center;
    margin-block: 2rem;
}

.footer__list {
    gap:2rem;
    margin-block-end: 2rem;
}

.footer__item a {
    color: var(--color-font);
}

.footer__item a:hover {
    color: var(--color-primary);
}

.footer__media {
    gap:2rem;
    padding-block-end: 6rem;
}

.footer__media .bx {
    background-color: var(--color-font);
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.footer__media .bx:hover {
    background-color: var(--color-primary);
    cursor: pointer;
}